body {
    margin: 0;
    background-color: blue;
    align-content: center;
    display: flex;
    justify-content: center;
}

:root {
    --container-width: 0;

}

.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    width: var(--container-width);
    height: var(--container-width);
    max-width: 960px;
    max-height: 960px;
    align-content: center;
    border: 2px solid green;
    overflow: hidden;
    box-sizing: border-box;
}
.numbered {
    background-color: #000000;

    margin: 0;
    width: 8px;
    height: 8px;
    cursor: crosshair;
    border-radius: 0.5px;
    -webkit-border-radius: 0.5px;
    -moz-border-radius: 0.5px;
    -ms-border-radius: 0.5px;
    -o-border-radius: 0.5px;
    border: 1px solid white;
}
