body {
    margin: 0;
    background-color: blue;
    align-content: center;
    display: flex;
    justify-content: center;
}

:root {
    --box-width: var(--box-width);
    --container-width: 256px
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-left: 20%;
    margin-right: 30%;
    padding: 0;
    width: var(--container-width);
    max-width: 960px;
    max-height: 960px;
    align-content: center;
    
}
.numbered {
    background-color: black;
    flex-grow: 0;
    flex-basis: 1;
    margin: 0;
    width: var(--box-width);
    height: 14px;
    cursor: crosshair;
    border-radius: 0.5px;
    -webkit-border-radius: 0.5px;
    -moz-border-radius: 0.5px;
    -ms-border-radius: 0.5px;
    -o-border-radius: 0.5px;
    border: 1px solid white;
}
