body {
    margin: 0;
    background-color: blue;
}

.container {
    display: flex;
    width: 256px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20%;
    margin-left: 30%;
    margin-right: 30%;
    
    
}
.numbered {
    background-color: black;
    width: 16px;
    height: 16px;
    margin: 0;
    border: none;
    flex-grow: 0;
    cursor: crosshair;
}
/*.numbered:hover {
    background-color: red;
}*/